.list {
	$self: &;
	margin-bottom: 30px;

	&__add-button {
		opacity: 0.4;

		&:hover {
			opacity: 1;
		}
	}

	li {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		cursor: pointer;
		transition: background-color 0.3s ease-in-out;

		&:hover #{$self}__remove-icon {
			opacity: 0.2;
		}

		#{$self}__remove-icon {
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
			&:hover {
				opacity: 0.8;
			}
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.35);
		}

		&.active {
			background: #ffffff;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
			border-radius: 4px;
		}

		i {
			display: inline-flex;
			margin-right: 10px;
		}
		span {
			flex: 1;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}
