.list {
	$self: &;
	margin-bottom: 30px;

	&__add-button {
		opacity: 0.4;

		&:hover {
			opacity: 1;
		}
	}

	&__remove-icon {
		opacity: 0;
	}

	li {
		display: flex;
		align-items: center;
		padding: 10px 0 12px 12px;
		cursor: pointer;

		&:hover #{$self}__remove-icon {
			opacity: 0.5;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.5);
		}

		&.active {
			background: #ffffff;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
			border-radius: 4px;
		}

		i {
			display: inline-flex;
			margin-right: 10px;
		}
		span {
			flex: 1;
		}
	}
}
