* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	box-sizing: border-box;
	font-family: "Roboto", -apple-system, system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
}

body {
	margin: 0;
}

.todo {
	position: absolute;
	left: 50%;
	top: 50%;
	max-width: 750px;
	// height: 530px;
	transform: translate(-50%, -50%);
	box-shadow: 1px 7px 10px #c5bebe;
	border-radius: 10px;
	&__sidebar {
		background: #e5e5e5;
		width: 200px;
		height: 100%;
		border-right: 1px solid #f1f1f1;
		padding: 60px 20px;
	}
}
.field {
	background-color: #fff;
	border: 1px solid #efefef;
	border-radius: 4px;
	padding: 8px 12px;
	width: 100%;

	&:hover {
		border-color: #b0acac;
	}
}

.button {
	padding: 10px 0;
	color: #ffffff;
	cursor: pointer;
	background: #4dd599;
	border-radius: 4px;
	border: 0;

	&:hover {
		background: darken(#4dd599, 5%);
	}

	&:active {
		background: darken(#4dd599, 10%);
	}
}
